################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VaderPOS/CopilotIndices/17.13.431.34963
/.vs/VaderPOS/FileContentIndex
/.vs/VaderPOS/v17
/.vs
